@import "../main.module.scss";

.btn {
    @include flexBox(row, center, center);
    @include setWidth(226px);
    @include setHeight(62px);
    @include setBoxShadow();
    
    background-color: $main;
    border-radius: 999px;
    border: none;

    @include typo-style(700, 20px, 30px, -0.5px);
    color: $white;
    text-align: right; 

    &.main {
        margin-top: getHeight(200px);
        margin-left: getWidth(674px);
    }
}