@import "../main.module.scss";

.btn {
    @include flexBox(row, center, center);
    @include setWidth(380px);
    @include setHeight(64px);

    background: $white;
    border: 2px solid $main;
    border-radius: 999px;
    margin: 0 auto;

    @include typo-style(500, 24px, 24px, 0.5px);
    color: $main;
}