@import "../main.module.scss";

.input{
    border: none;
    outline: none;
    background-color: transparent;

    &:hover{
        cursor: pointer;
    }
    svg{
        pointer-events: none;
    }
}