@import "../main.module.scss";

.wrapper {
    @include flexBox(row, center);
    
    width: toRem(880px);
    margin-top: toRem(46px);
    padding-bottom: toRem(10px);

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    &::-webkit-scrollbar {
        height: toRem(4px);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main;
    }

    &::-webkit-scrollbar-track {
        background-color: #B7B7B7;
    }
}