@import "../main.module.scss";



body {
    overflow: auto !important;
    overflow-x: hidden !important;

    .headwrapper {
        @include flexBox(row, center, flex-start);
        width: 100vw;
        height: toRem(80px);
        padding-left: toRem(387px);
        padding-top: toRem(15px);
        background-color: #FFFFFF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        .infotitle{
            @include typoStyle(500, 24px, 24px, -0.5px);
            margin-right: toRem(53px);
        }
        input{
            margin-right: toRem(8px);
        }
        label{
            margin-right: toRem(43px);
            @include typoStyle(500, 16px, 16px, -0.5px);
        }
        &.fixedHeader {
            position: fixed;
            top: 0;
        }
        }


    .listwrapper{
        @include flexBox(row, flex-start, flex-start);

        .listtitle{
            @include flexBox(column, center, flex-start);
            width:toRem(95px);
            margin-top: toRem(172px);
            margin-left: toRem(246px);
            margin-right: toRem(23px);

            .wangbasics{
                @include flexBox(column, flex-start, flex-start);
                height:toRem(389px);
                width:toRem(95px);
                .basics{
                    height:toRem(343px);
                    width:toRem(95px);
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    padding-top: toRem(26px);
                    padding-left: toRem(8px);
                    padding-right: toRem(8px);
        
                    .basicsContent{
                        @include typoStyle(700, 16px, 16px, -0.5px);
                        margin-bottom: toRem(15px);
                        text-align: right;
        
                    }
                }
                .empty{
                    height:toRem(46px);
                    width:toRem(95px);
                }
            }


            .wangoptions{
                @include flexBox(column, flex-start, flex-start);
                height:toRem(551px);
                width:toRem(95px);
                .options{
                    height:toRem(504px);
                    width:toRem(95px);
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    padding-top: toRem(26px);
                    padding-left: toRem(8px);
                    padding-right: toRem(8px);
        
                    .optionsContent{
                        @include typoStyle(700, 16px, 16px, -0.5px);
                        margin-bottom: toRem(15px);
                        text-align: right;
        
                    }
                }
                .empty{
                    height:toRem(46px);
                    width:toRem(95px);
                }

            }
            

            
            .details{
                height:toRem(445px);
                width:toRem(95px);
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding-top: toRem(26px);
                padding-left: toRem(8px);
                padding-right: toRem(8px);
    
                .detailsContent{
                    @include typoStyle(700, 16px, 16px, -0.5px);
                    margin-bottom: toRem(15px);
                    text-align: right;
    
                }
            }
            .none{
                display:none;
            }

        }

        .checklistwrapper{
            @include flexBox(row, center, flex-start);
        }
        

    }

    }
