@import "../main.module.scss";

div {
    width: 100vw;

    section {
        @include flex-box(row, center, center);
    }    

    .upper {
        color: $white;
        height: 560px;
        background-color: $main;
    }

    .lower {
        color: $main;
        padding: 20px;
    }
}