@import "../main.module.scss";

.wrapper {
    @include flexBox(column, center, center);
    width: 100vw;

    &.extraPad {
        padding-top: toRem(20px);
    }

    .searchDiv {
        @include flexBox(column, center, center);
        margin-top: toRem(20px);
    }

    .mapDiv {
        width: 100vw;
        height: calc(100vh - 10.25rem);
        margin-top: toRem(20px);
    }
}