@import "../main.module.scss";

body {
    overflow: hidden !important;

    .wrapper {
        @include flexBox(column, center, center);
        width: 100vw;
    
        .searchDiv {
            @include flexBox(column, center, center);
            margin-top: toRem(20px);
    
            .filters {
                @include flexBox(row, center);
                width: toRem(994px);
                height: toRem(72px);
                margin-top: toRem(24px);
                margin-bottom: toRem(24px);
                
                .filter {
                    @include flexBox(column, flex-start);
                    @include setBoxShadow();
                    border-radius: 4px;
                    height: toRem(64px);
    
                    .title {
                        @include typoStyle(700, 16px, 16px, -0.5px, $main);
                    }
                    
                    /* Checkbox Filter */
                    &.checkOpt {
                        article {
                            @include flexBox(row, center);
                            
                            input {
                                display: none;
                            }

                            label {
                                @include typoStyle(500, 14px, 18.2px, -0.5px, #b7b7b7);
    
                                &.active {
                                    color: $main;
                                }

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
    
                    }
    
                    &.first {
                        width: toRem(182px);
                        padding: toRem(10px) toRem(16px);
    
                        article {
                            width: toRem(150px);
                        }
                    }
    
                    &.second {
                        width: toRem(244px);
                        padding: toRem(12px) toRem(16px);
    
                        article {
                            width: toRem(212px);
                        }
                    }
                    /************/
                    
                    /* Slider Filter */
                    &.rangeOpt {
                        width: toRem(232px);
                        padding: toRem(8px) toRem(16px);
                        position: relative;
    
                        .range {
                            @include typoStyle(700, 14px, 14px, -0.5px, $main);
                            position: absolute;
                            top: toRem(9px);
                            right: toRem(16px);
                        }

                        .index {
                            width: toRem(200px);
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
    
                            p {
                                @include typoStyle(400, 12px, 12px, -0.5px, #3F3D56);
    
                                &.start {
                                    text-align: left;
                                }
    
                                &.center {
                                    text-align: center;
                                }
    
                                &.end {
                                    text-align: right;
                                }
                            }
                        }
                    }
                    /************/

                    /* Extra Filter */
                    &.extraOpt {
                        width: toRem(64px);
                        padding: toRem(15px) toRem(9.5px);
                        
                        svg {
                            margin: 0 auto;
                        }

                        .extra {
                            @include typoStyle(500, 12px, 12px, -0.5px, $main);
                        }
                    }
                    /************/
                }
            }
        }
    
        .mapDiv {
            width: 100vw;
            height: toRem(804px);
        }
    }
}