@import "../main.module.scss";

body {
    overflow: hidden !important;

    .wrapper {
        @include flexBox(column, center, center);
        width: 100vw;
        padding-top: toRem(20px);
    
        .searchDiv {
            @include flexBox(column, center, center);
            margin-top: toRem(20px);
        }

        .listDiv{
            @include flexBox (row, center,$justify-content:flex-start);
            flex-wrap: wrap;
            margin-top: toRem(20px);
            width: toRem(1200px);
            margin-bottom: toRem(30px);

            .noresult{
                padding-top: toRem(130px);
                text-align: center;
                width: 100%;
            }
        }
    
    }
}