@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

$main-font: "Noto Sans KR", sans-serif;

@mixin typoStyle($weight, $size, $line-height, $letter, $color: $main) {
    font-family: $main-font;
    font-size: toRem($size);
    font-weight: $weight;
    line-height: toRem($line-height);
    letter-spacing: toRem($letter);
    color: $color;
}