@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

$main-font: "Noto Sans KR", sans-serif;

@mixin typoStyle($weight, $size, $line-height, $letter, $color: $main) {
    font-family: $main-font;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: $letter;
    color: $color;
}