@import "../../main.module.scss";

.wrapper {
    @include flexBox(row, center);
    width: 100vw;
    height: (100vh*80px/$vh);

    .middle {
        @include flexBox(row, center);
        width: 23vw;

        article {
            padding: (100vh*8px/$vh) (100vh*16px/$vh);
            border-bottom: 1px solid;

            &.active {
                border-color: $main;
                
                span {
                    color: $main;
                }
            }

            &.inactive {
                border-color: $gray;

                span {
                    color: $gray;
                }
            }

            &:hover {
                cursor: pointer;
            } 
            
            span {
                @include typoStyle(700, 20px, 26px, -0.5px);
                color: $main;
                margin-left: 7px;
            }
        }
        
    }

    .right {
<<<<<<< HEAD
        @include flex-box(row, center);
        width: (100vw*288px/$vw);
        margin-right: (100vw*66px/$vw);

        article {
            @include flex-box(column, center);
            height: (100vh*54px/$vh);
=======
        @include flexBox(row, center);
        width: 11vw;
        margin-right: 3.125vw;

        article {
            @include flexBox(column, center);
            height: 54px;
>>>>>>> d13f4bce8ae13b92c462bcbe53c1287875ab15e8

            &:hover {
                cursor: pointer;
            }

            span {
                @include typoStyle(500, 10px, 10px, -0.5px);
                color: $main;
                text-align: center;
            }
        }        
    }
}